name: Publish mail-sink

on:
  push:
    tags:
      - "v*.*.*"

env:
  GO_VERSION: 1.25

jobs:
  publish:
    permissions:
      actions: read
      packages: write
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
        with:
          persist-credentials: false

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ env.GO_VERSION }}

      - uses: ko-build/setup-ko@d006021bd0c28d1ce33a07e7943d48b079944c8d # v0.9
        with:
          version: v0.18.0

      - run: ko build --tags=${GITHUB_REF_NAME}